$color-white: #fff;
$color-yellow: #e4b95b;
$color-yellow-light: #dfdd7c;
$color-grey: rgb(255,255,255);
$color-grey-bold: #b2b2b2;
$color-grey-light: #ced3d3;
$color-brown: rgba(29,19,19,0.9);
$color-brown-light: #7a5c3d;
$color-black: #000;
$color-light: #eae7de;
$color-brown1: #c7a17a;

