@keyframes bannerFall {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}
	25%{
		opacity: 1;
		transform: translateY(0);
	}
	50%{
		opacity: 1;
		transform: translateY(0);
    }
    75%{
		opacity: 1;
		transform: translateY(0);
	}
	100%{
		opacity: 0;
		transform: translateX(-100%);
	}
}
@-webkit-keyframes bannerFall {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}
	25%{
		opacity: 1;
		transform: translateY(0);
	}
	50%{
		opacity: 1;
		transform: translateY(0);
    }
    75%{
		opacity: 1;
		transform: translateY(0);
	}
	100%{
		opacity: 0;
		transform: translateX(-100%);
	}
}
